
body,
ul,
li,
a
{
    /* margin: 1px; vai dar um pequeno espaço na caixa logo, sobre... (testa colocando um numero maior)*/
    margin: 0px;
    /*  padding: 0px; faz quase a mesma coisa*/
    padding: 0px;
    /*list-style: none; tirar as bolinhas das lista*/
    list-style: none;
    font-size: 1.2rem;
    font-family: Arial;
}


a {
  text-decoration: none;
  color: rgb(238, 237, 243);
}
.Inicio {

   /*background vai deixar o linha preta home, sobre, produtos...*/
   background: #1d1e20;
   /*display: flex; vai deixar as caixas sobre, produto...do lado do outros*/
   display: flex;
   flex-wrap: wrap;
   /*justify-content: space-between; vai dar o espeço entre o logo e home*/
   justify-content: space-between;
   align-items: center;
   /*o padding: 20px vai deixar a linha preta maior(testa)*/
   /*mudei para 5*/
   padding: 10px;
   /*o border vai colocar uma linha sobre caixa preta ops, sempre colocar o px*/
   border:rgb(248, 4, 4) 2px solid
}


.menu {
  display: flex;
}

.menu li {
  margin-left: 25px;
}

/*min-height: calc(100vh - 211px - 58px); serve para afastar o que ta no meio do site do que ta no final
https://www.youtube.com/watch?v=US_3XvufMLU

flex-wrap: wrap; para saber mais
https://www.youtube.com/watch?v=kopfA6nG4NM

estava mexendo numa img, voi tirar e colocar no css mesmo
*/

/* -----  daqui para baixo vou colocar as fotos e tentar em caixar o mais bonito possivel.
sempre comentando para saber o que fiz. Para lembrar mesmo */

/*
vamos mexer na tag main
*/

.Layout {

  /*
fiz asim para ver a linha e outra coisa tive que colocar a margin 0 para juntar com a home
*/
  background:#b8babd;
  margin: 0px;
  text-align: center;

}

.roxo{
  text-align: center;
  background:#c10ed1;

}

/*
posso dar valor fixo na foto caso queira pelo comendo 
height: 200px; ou posso uasr o - display: flex - sozinho ;

*/

.cripto {
  display: flex;
  height: 200px;
  background-image: url("fotos-math/minhascriptofavoritas.png");
/*
nao colocar /  nao colocar com barra ATENÇAO 
*/
  margin: 0px;
  padding: 0px;
  /*
  colocar o texto no centro

  <!-- nao colocar /style.css - nao colocar com barra ATENÇAO -->
*/
  justify-content: center;
  /*
  background-repeat: no-repeat; para nao repitir a img
*/
  background-repeat: no-repeat;
  /*vamos definir o tamanho da img  coso querer consigo mexer no px ou % 
  background-size: contain;
  background-size: px;
  background-size: 100%;*/
  background-size: contain;
  /*colocando a img no centro da pagina*/
 background-position: center;
}

h2{
  /*vai alinhar no centro*/
  margin:auto;
  background:#ff1100;
  padding: 10px;
}
  
.amarelo{
  background:#c3ec09;
}

/*
nao usar esta propreidade ´para centralizar a imagens

transform: translate(30%, 0%)


nao ta funconando tambem 

 align-content: center;
  justify-content: center;

  vou tentar outras coisas
*/
/*
aqui consigo mexer no tamanho do meu texto
margin: 0px; para nao dar espaçamento entre meu layout e o texto
*/
p {
  font-size: 18px ;
  margin: 0px;
}

.menu{
  display: flex;}

.menu li{
  margin-left: 25px;}

img {
    max-width: 100%;
    display: block; }


 .grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 5px;
}

.grid2{
  background: rgba(0, 0, 0, 0.6);
  padding: 10px 10px;
  color: rgb(228, 200, 200);
}

.flex{
  display: flex;
  flex-wrap: wrap; /* vai indicar que pode quebrar a linha*/
  max-width: 800px;/* vai dar um tamnho maximo */
  margin: auto;/* vai centralizar a div as img na div*/
}

.flex > div {
  flex:1 1 200px ;
  margin: 10px;/* vai dar espaço */
}
/*  padding: 0px; faz quase a mesma coisa*/

 /*
 nao ta fincinonando
 agora ta
*/
.wrapper {
  max-width: 75rem;
  padding: 2rem;
  margin: 0 auto;
}

/* galeria*/

/*vai mexer com o tamanho das img*/
.galeria {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4 , 12.5rem);
  gap: .5rem;
}

/* Gallery Layout */

/*
.gallery__item--1 {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
}

.gallery__item--2 {
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;
}

.gallery__item--3 {
  grid-column: 2 / span 1;
  grid-row: 1 / span 2;
}

.gallery__item--4 {
  grid-column: 3 / span 1;
  grid-row: 1 / span 3;
}

.gallery__item--5 {
  grid-column: 1 / span 2;
  grid-row: 3 / span 2;
}

.gallery__item--6 {
  grid-column: 3 / span 1;
  grid-row: 4 / span 1;
}

*/
/* testar*/
.gallery__item--6 {
  grid-column: 3 / span 1;
  grid-row: 1 / span 1;
}

/* Gallery Link */
.gallery__link {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* Gallery Link Overlay */
.gallery__overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background: rgba(0, 0, 0, 0.4);
  font-size: 1.5rem;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;

  opacity: 0;
  pointer-events: none;
  transition: opacity .2s;
}

.gallery__link:hover .gallery__overlay {
  opacity: 1;
}

/* Gallery Overlay Text */
.gallery__overlay span {
  position: relative;
  line-height: 3rem;
}

.gallery__overlay span:before,
.gallery__overlay span:after {
  content: '';
  position: absolute;
  height: 2px;
  width: 0;
  background: #fff;
  transition: width .3s ease-out .2s;
}

.gallery__overlay span:before {
  top: 0;
  left: 0;
}

.gallery__overlay span:after {
  bottom: 0;
  right: 0;
}

.gallery__link:hover .gallery__overlay span:before,
.gallery__link:hover .gallery__overlay span:after {
  width: 100%;    
}


/* Gallery Image */
.gallery__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(1.05);
  transition: 
      transform .5s,
      filter .5s;
}


.gallery__link:hover .gallery__image {
  transform: scale(1.2);
  filter: blur(2px);
}


/*
@media screen and (max-width: 60rem) {
  .wrapper {
      padding: 1rem;
  }

  .galeria {
      grid-template-columns: repeat(2, 1fr);
  }

   Gallery Layout 
  .gallery__item--1 {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
}

.gallery__item--2 {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
}

.gallery__item--3 {
    grid-column: 2 / span 1;
    grid-row: 1 / span 2;
}

.gallery__item--4 {
    grid-column: 1 / span 1;
    grid-row: 3 / span 2;
}

.gallery__item--5 {
    grid-column: 2 / span 1;
    grid-row: 3 / span 1;
}

.gallery__item--6 {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
}



  .gallery__overlay {
      font-size: 1.25rem;
  }
}


*/

/*
@media screen and (max-width: 35rem) {
  .gallery {
      display: block;
  }

  .gallery__item {
      margin: .5rem;
  }

  .gallery__link {
      height: 80vw;
  }

  .gallery__overlay {
      font-size: 1rem;
  }
}
*/

.container{
  display: flex;
  
  width: 25%;
  margin: 0px;
  /*  padding: 0px; faz quase a mesma coisa*/
  padding: 0px;
}

.container1{
  text-align: center;
  background:#220ed1;
 }