
body,
ul,
li,
a
{
    /* margin: 1px; vai dar um pequeno espaço na caixa logo, sobre... (testa colocando um numero maior)*/
    margin: 0px;
    /*  padding: 0px; faz quase a mesma coisa*/
    padding: 0px;
    /*list-style: none; tirar as bolinhas das lista*/
    list-style: none;
    font-size: 1.2rem;
    font-family: Arial;
}


a {
  text-decoration: none;
  color: rgb(238, 237, 243);
}
.Inicio {

   /*background vai deixar o linha preta home, sobre, produtos...*/
   background: #1d1e20;
   /*display: flex; vai deixar as caixas sobre, produto...do lado do outros*/
   display: flex;
   flex-wrap: wrap;
   /*justify-content: space-between; vai dar o espeço entre o logo e home*/
   justify-content: space-between;
   align-items: center;
   /*o padding: 20px vai deixar a linha preta maior(testa)*/
   /*mudei para 5*/
   padding: 10px;
   /*o border vai colocar uma linha sobre caixa preta ops, sempre colocar o px*/
   border:rgb(248, 4, 4) 2px solid
}


.menu {
  display: flex;
}

.menu li {
  margin-left: 25px;
}

/*min-height: calc(100vh - 211px - 58px); serve para afastar o que ta no meio do site do que ta no final
https://www.youtube.com/watch?v=US_3XvufMLU

flex-wrap: wrap; para saber mais
https://www.youtube.com/watch?v=kopfA6nG4NM

estava mexendo numa img, voi tirar e colocar no css mesmo
*/

/* -----  daqui para baixo vou colocar as fotos e tentar em caixar o mais bonito possivel.
sempre comentando para saber o que fiz. Para lembrar mesmo */

/*
vamos mexer na tag main
*/

.Layout {

  /*
fiz asim para ver a linha e outra coisa tive que colocar a margin 0 para juntar com a home
*/
  background:#b8babd;
  margin: 0px;
  text-align: center;

}

.roxo{
  text-align: center;
  background:#c10ed1;

}

/*
posso dar valor fixo na foto caso queira pelo comendo 
height: 200px; ou posso uasr o - display: flex - sozinho ;

*/

.cripto {
  display: flex;
  height: 200px;
  background-image: url("fotos-math/minhascriptofavoritas.png");
/*
nao colocar /  nao colocar com barra ATENÇAO 
*/
  margin: 0px;
  padding: 0px;
  /*
  colocar o texto no centro

  <!-- nao colocar /style.css - nao colocar com barra ATENÇAO -->
*/
  justify-content: center;
  /*
  background-repeat: no-repeat; para nao repitir a img
*/
  background-repeat: no-repeat;
  /*vamos definir o tamanho da img  coso querer consigo mexer no px ou % 
  background-size: contain;
  background-size: px;
  background-size: 100%;*/
  background-size: contain;
  /*colocando a img no centro da pagina*/
 background-position: center;
}

h2{
  /*vai alinhar no centro*/
  margin:auto;
  background:#ff1100;
  padding: 10px;
}
  
.amarelo{
  background:#c3ec09;
}

/*
nao usar esta propreidade ´para centralizar a imagens

transform: translate(30%, 0%)


nao ta funconando tambem 

 align-content: center;
  justify-content: center;

  vou tentar outras coisas
*/
/*
aqui consigo mexer no tamanho do meu texto
margin: 0px; para nao dar espaçamento entre meu layout e o texto
*/
p {
  font-size: 15px ;
  margin: 0px;
}

.menu{
  display: flex;}

.menu li{
  margin-left: 25px;}

img {
    max-width: 100%;
    display: block; }


.container{
  text-align: center;
  background:#220ed1;
 }


 .grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 5px;
}

.grid
.grid2{
  background: rgba(0, 0, 0, 0.6);
  padding: 10px;
  color: rgb(228, 200, 200);
}

 /*
 nao ta fincinonando
*/
